/* styles.css */

/* Classe personalizada para modificar a cor primary */
/* .bg-primary {
    background-color: #ff8243 !important;
    color: white !important;

  }

.alert-primary {
    background-color: #ff9142 !important;
    color: white !important;

} */
 
  